POSTGRES_USER=finsight
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=finsight_db
POSTGRES_PORT=5432

KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=stock_prices

SYMBOLS=AAPL,MSFT,GOOGL,AMZN,NVDA
POLL_INTERVAL_SECONDS=10