# Sensitive data - ΠΟΤΕ στο git
.env

# Docker volumes
postgres_data/
airflow_db_data/
airflow_logs/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml

# Spark
spark_jobs/__pycache__/

# Logs
*.log